body {
	background: #0052D4;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #6FB1FC, #4364F7, #0052D4);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6FB1FC, #4364F7, #0052D4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#container {
	width: 500px;
	margin: 0 auto;
	background: #f7f7f7;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
	text-align: center;
	padding: 20px auto;
	border-radius: .5rem;
}

h1 {
	text-align: center;
	font-size: 60px;
	margin: 50px 0 20px 0;
	color: #333;
}

#head1 {
	margin-right: 30px;
	font-family: Roboto;
	font-size: 30px;
	color: #777;
}

#head2 {
	margin-left: 30px;
	font-family: Roboto;
	font-size: 30px;
	color: #777;
}

#head {
	text-align: center;
	font-size: 60px;
	font-family: Roboto;
	margin:  40px auto;
	color: white;
}

p {
	font-size: 25px;
	margin: 0 auto 10px auto;
}

input {
	width: 400px;
	height: 30px;
	text-align: center;
	font-size: 15px;
	color: #2980d9;
	border-radius: .25rem;
	border-color: #ddd;
}

button {
	width: 133px;
	height: 30px;
	font-size: 15px;
	margin: 10px 0;
	color: white;
	background: #4364f7;
	border-radius: .25rem;
	border-color: rgba(0, 0, 0, 0.1);
}